* {
	background-color: #202124;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

#headerleft {
	padding-left: 10px;
	padding-top: 10px;
	margin-right: auto;
}
#headerlogo {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-weight: 400;
}

#headerlabel {
	font-family: Arial, Helvetica, sans-serif;
	color: #f28b82;
	font-weight: 400;
	padding-top: 50px;
	padding-left: 40px;
}

#headerlogo,
#headerlabel {
	font-size: 23px;
}

hr {
	border-color: #3c4043;
	margin: 0;
}

#page {
	height: 100vh;
}

#header {
	display: flex;
	align-items: flex-start;
	padding: 15px;
}

a {
	text-decoration: none;
	color: white;
}

#headerright {
	display: flex;
	align-items: center;
	gap: 20px;
}

p {
	color: white;
}

#searches {
	padding: 65px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
}

.promptext {
	font-weight: 100;
}

.pageform .pagefield {
	color: white;
	border: 1px solid #5f6368;
	height: 40px; /* Set the height for the search bar */
	width: 500px; /* Set the width for the search bar */
	padding: 8px; /* Add some padding for internal spacing */
	font-size: 16px; /* Set the font size for the text input */
}
.pageform .pagefield:focus {
	outline-color: #81a8e7;
	outline-style: solid; /* Set the outline style to solid */
	outline-width: 2px; /* Set the width of the outline */
	outline-offset: -2px; /* Offset the outline to remove the white outline */
}

.pageform {
	display: flex;
	flex-direction: column;
	align-items: center; /* Align items vertically in the form */
	gap: 20px;
}

.pagesubmit {
	background-color: #8ab4f8;
	border-radius: 3px;
	padding: 10px;
	margin-left: auto;
}
.pagesubmit:hover {
	background-color: #aecbfa;
}


#headerright a:hover {
    text-decoration: underline;

}